#frame {
    widht: 1024px;
    height: 768px;

    z-index: 3;
}

#figure {

    width: 48px;
    height: 72px;
    background-color: violet;
    position: absolute;
    z-index: 1;
    top: 696px;
}

#platform {
    position: absolute;
    height: 24px;
    width: 1024px;
    background-color: gray;
    z-index: 2;
    top: 744px;
}