body {
  background-color: lightgrey;
  font-family: Verdana;
  color: purple;
  font-size: 24px;
}

h1 {
  text-transform: capitalize;
  margin-left: 2em;
}

div#commandlist {
  font-family: Arial, sans-serif;
}

#main ul li {
  display: inline;
  border: 1px solid grey;
  background-color: grey;
  border-radius: 7px;
  box-shadow: 2px 2px;
}

ul li {
  margin: 1em;
  padding-left: 1em;
  padding-right: 1em;
}



th {
  text-align: left;
  padding-left: 1em;
  border-bottom: 1px solid rgb(0 0 0)
  }

td {
  padding: 0em 1em;
}

tr td:nth-child(3) {
  opacity: 0;
}

tr:hover td:nth-child(3) {
  opacity: 1;
  transition: 0.7s;
}
