#entrance-story {
    right: 26px;
  text-align: right;
}

#instructions {
  position: absolute;
  left: 17em;
  min-height: 40vh;
  width: calc(100% - 48em);
}

#ingredients {
  position: absolute;
  left: 1em;
  width: 14em;
  min-height: 50vh;
}

#pic {
  position:absolute;
  right: 1em;
  min-height: 50vh;
}
