body {
  position: relative;
  font-family: 'Arvo', serif;
  width: 80%;
  padding-left: 8em;
  padding-right: 8em;
  /* ask this if how is it to have both padding and width */
}

  h1 {
  font-family: 'Quicksand', sans-serif;
  background-color: lightgrey;
  padding-left: 1em;
  border-radius: 7px;
}



#pic {
  position: relative;
  text-align: center;
 }


span.quantity {
  font-family: 'Space Mono', monospace;
  background-color: lightgrey;
}

#entrance-story {

}

#ingredients {

}

#instructions {

}
