body {
  position: relative;
  font-family: Arial, sans-serif;
  margin: auto;
}

#header {
  background-color: lightgrey;
  border-radius: 7px;
  text-align: right;
  margin: 1em;
  padding: .5em 1em .5em;
}

#info {
  position: absolute;
  left: 1em;
  width: 23em;
  min-height: 21vh;
  z-index: 2;
}

#pic {
  position: absolute;
  right: 3em;
  text-align: right;
  width: 153px;
  height: 135px;
  border-radius: 10px;
  z-index: 1;
  background-image: url("photo_c.png");
}

.content {
  position: relative;
  top: 10em;
}

h2 {
  background-color: lightgrey;
  border-radius: 7px;
  margin: 1em;
  padding: .5em 1em .5em;
  width: 100%;
}

p {
  margin-left: 2em;
}

ul.list li {
  display: inline;
  }

ul.list li::before{
  content: " * "
}

ul.list li:nth-child(4)::before {
  content: " // * "
}

a {
  text-decoration: none;
  color: black;
}

.date {
  font-family: monospace;
  color: white;
  background-color: lightgrey;
  padding: 0px 4px;
  border-radius: 2.7px;
}

span.show {
    display: inline-block;

}
span.hide {
    display: none;
}

ul.show {
    display: block;
}

ul.hide {
    display: none;
}
