h1,h2 {
  font-family: 'Quicksand', sans-serif;
  background-color: lightgrey;
  padding-left: 1em;
  padding-right: 1em;
}

body {
  font-family: 'Arvo', serif;
}

span.date {
  font-family: 'Space Mono' monospace;
}

p {
  margin-left: 2em;
}
