div.lightgrey {
    background-color: lightgrey;
    text-align: center;
    color: violet;
    height: 720px;
}

div.violet {
    background-color: violet;
    text-align: center;
    color: lightgrey;
    height: 720px
}

h1 {
    cursor: default;
}



span.show {
    display: block;
}

span.hide {
    display: none;
}

.show {
    display: block;
}
.hide {
    display: none;
}